/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
/* chinh background, màu chữ, font size phần copyright  */

#footer .footer-top {
    background: #151515;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
  }
/* Background phần footer mua hang, bao hanh, set đường boder bottom 
và padding trên dưới */

#footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  /* set khoang cách của tên shop footer với phần dưới (Franky Shop) */

  #footer .footer-top .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  /* line height: 1 nghĩa là khoảng cách giữa các dòng là 100%, 
  text-transform: uppercase là viết hoa các chữ */

  #footer .footer-top .footer-info h3 span {
    color: #ffc451;
  }
  /* chỉnh màu cái dấu . sau Franky shop */

  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  /* phần địa chỉ canh line height theo px, và set font  */
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
 /* background thẻ a màu đen, màu logo trắng, padding top và bot 8px, 
 text-align center để canh cái logo vào giữa vì logo nằm trong thẻ i (thẻ text in nghiêng)
 transition: 0.3s nghĩa là tất cả giá trị trong ngoặc này nếu bị thay đổi thì sẽ chuyển đổi trong 0.3s */

 #footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}

 #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  /* thay đổi cái này sẽ thay đổi giá trị tất cả text trong thẻ h4 của phần footer-top */

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ffc451;
    font-size: 18px;
    line-height: 1;
  }
  /* padding right là khoảng cách của mũi tên với text bên phải, set màu mũi tên, font-size để set độ lớn icon  */

  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    
  }
  /* set khoảng cách trên dưới của li là 10 */

  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
  }
  /* set màu và thoi gian chuyen hieu ứng  */
  #footer .footer-top .footer-links ul a:hover {
    color: #ffc451;
  }
  /* chuyển màu khi hover  */

  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 0px;
    position: relative;
    border-radius: 4px;
  }
  /* margin top để cách phần chữ phía trên, background để set màu ô form phần 
  rìa padding (nếu ko set thì ô điền form sẽ bị hụt), border radius bo góc */

  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ffc451;
    color: #151515;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #ffcd6b;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }